# Ignore the Virtual Environment
.venv/
venv/
__pycache__/

# Ignore Secrets (CRITICAL)
.env

# Ignore the Local Database (Optional: Keep this if you want to push your test data, but usually we ignore it)
expenses.db
*.db

# Ignore System files
.DS_Store